In [3]:
import pandas as pd
infectious_data = pd.read_csv('meningitis_dataset.csv')

In [4]:
infectious_data.head(10)

,id,surname,firstname,middlename,gender,gender_male,gender_female,state,settlement,rural_settlement,...,NmA,NmC,NmW,health_status,alive,dead,report_outcome,unconfirmed,confirmed,null_serotype
0,1,Solade,Grace,Solape,Female,0,1,Rivers,Rural,1,...,0,0,0,alive,1,0,confirmed,0,1,1
1,2,Eneche,Kure,Balogun,Male,1,0,Ebonyi,Rural,1,...,0,0,1,Alive,1,0,Confirmed,1,0,1
2,3,Sanusi,Adaugo,Katerine,Female,0,1,Ogun,Urban,0,...,0,0,1,Dead,0,1,Not Confirmed,1,0,1
3,4,Sowore,Mooslemat,Ifedayo,Female,0,1,Ondo,Rural,1,...,0,0,1,Alive,1,0,Not Confirmed,1,0,1
4,5,Abdusalam,Yusuf,Okafor,Male,1,0,Oyo,Urban,0,...,0,0,1,Alive,1,0,Confirmed,1,0,1
5,6,Yakubu,Janet,Chioma,Female,0,1,Kaduna,Rural,1,...,0,0,1,Alive,1,0,Confirmed,1,0,1
6,7,Razak,Adaugo,Adaobi,Female,0,1,Taraba,Rural,1,...,0,0,1,Alive,1,0,Confirmed,0,1,1
7,8,Annakyi,Danmbazzu,Osagie,Male,1,0,Katsina,Rural,1,...,0,0,1,Alive,1,0,Not Confirmed,1,0,1
8,9,Adejoro,Iyin,Osatimehin,Male,1,0,Katsina,Rural,1,...,0,0,1,Alive,1,0,Confirmed,1,0,1
9,10,Okorie,Adaugo,Chika,Female,0,1,Osun,Urban,0,...,0,0,1,Alive,1,0,Confirmed,1,0,1

In [ ]:
settlementt = ['rural_settlement', 'urban_settlement']
corr = infectious_data[settlementt].corr(infectious_data['disease'])
print(corr)

In [6]:
infectious_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284484 entries, 0 to 284483
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          284484 non-null  int64
 1   surname                     284484 non-null  object
 2   firstname                   284484 non-null  object
 3   middlename                  284484 non-null  object
 4   gender                      284484 non-null  object
 5   gender_male                 284484 non-null  int64
 6   gender_female               284484 non-null  int64
 7   state                       284484 non-null  object
 8   settlement                  284484 non-null  object
 9   rural_settlement            284484 non-null  int64
 10  urban_settlement            284484 non-null  int64
 11  report_date                 284484 non-null  object
 12  report_year                 284484 non-null  int64
 13  age                         284484 non-null  int64
 14  age_str                     284484 non-null  object
 15  date_of_birth               284484 non-null  object
 16  child_group                 284484 non-null  int64
 17  adult_group                 284484 non-null  int64
 18  disease                     284484 non-null  object
 19  cholera                     284484 non-null  int64
 20  diarrhoea                   284484 non-null  int64
 21  measles                     284484 non-null  int64
 22  viral_haemmorrhaphic_fever  284484 non-null  int64
 23  meningitis                  284484 non-null  int64
 24  ebola                       284484 non-null  int64
 25  marburg_virus               284484 non-null  int64
 26  yellow_fever                284484 non-null  int64
 27  rubella_mars                284484 non-null  int64
 28  malaria                     284484 non-null  int64
 29  serotype                    284484 non-null  object
 30  NmA                         284484 non-null  int64
 31  NmC                         284484 non-null  int64
 32  NmW                         284484 non-null  int64
 33  health_status               284484 non-null  object
 34  alive                       284484 non-null  int64
 35  dead                        284484 non-null  int64
 36  report_outcome              284484 non-null  object
 37  unconfirmed                 284484 non-null  int64
 38  confirmed                   284484 non-null  int64
 39  null_serotype               284484 non-null  int64
dtypes: int64(27), object(13)
memory usage: 86.8+ MB